<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in page</title>
    <link rel="stylesheet" href="sign.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/Noto_Serif/NotoSerif-Bold.ttf">
</head>

<body>
    <header>
        <div class=" container-sm  header_wrapper  ">
            <div class="row p-0">

                <div class=" col-6 col-lg-6">
                    <div class="logo">
                        <img src="/image/method-draw-image.svg " alt=" logo">
                        <span class="logo_descript">manage</span>
                    </div>
                </div>

                <div class=" col-6 col-lg-6 ">
                    <div class="dot_container">
                        <div class="dot_designs">
                        </div>
                        <div class=" dot_designs">

                        </div>
                        <div class=" dot_designs">

                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="row">
                        <div class="col-lg-6">
                            <nav>
                                <ul>
                                    <li><a href="#">Princing</a></li>
                                    <li><a href="#">Product</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Community</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-6 menu " style=" height: 30px;">
                            <img src="/image/icon-hamburger.svg" alt="menu" class="menu">
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </header>

    <section class="container-sm con g-0">

        <div class="main" style=" background-color: rgba(243, 240, 240, 0.466);min-height: 700px;padding-bottom: 5%;">
            <div>
                <div class="row m-0  ">
                    <div class="col-lg-6  ">
                        <h4>Register</h4>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="col-lg-2 col-sm-6 ">
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="col-lg-2 ">
                        <button>Login</button>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class=" col-lg-6 form text">
                    <form action="">
                        <label for="Email Address">Email</label>
                        <input type="text">
                        <label for="">Password</label>
                        <input type="text">
                        <label for="">Comfirm Password</label>
                        <input type="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus maiores voluptatum
                            deserunt
                            porro. Minima enim, blanditiis quaerat eaque eligendi iste voluptates consequuntur hic dolor
                            facere quos laborum fugiat ab voluptas?
                        </p>
                        <button type="submit">
                            Register

                        </button>
                    </form>

                </div>
                <div class="col-lg-6">
                    <aside class="side_view">
                        <div class="manage_overview">
                            <h1>What's different about Manage?</h1>
                            <p>Manage provides all the functionality your team needs,without the complexity. our
                                software
                                is tailor-made for modern digital product teams.</p>
                        </div>

                        <div class="commement_bar">
                            <div class="image_display">
                                <img src="/image/canstockphoto10278509.jpg" alt="">
                            </div>

                        </div>
                    </aside>
                </div>
                <div class="col">

                </div>
            </div>
        </div>




    </section>

</body>

</html>